<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <!-- Deliberately flat. A dropdown toggle needs an href, and every value the publisher accepts for
       one is either rejected outright (href='#') or reported as a broken link by the link checker
       (href='menu.html'). This guide has few enough pages that a flat menu avoids the problem. -->
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li><a href="background.html">Background</a></li>
  <li><a href="spec.html">Detailed Specification</a></li>
  <li><a href="artifacts.html">Artifact Index</a></li>
  <li><a href="downloads.html">Downloads</a></li>
  <li><a href="changes.html">Change History</a></li>
  <li><a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec <img src="external.png" style="text-align: baseline"/></a></li>
</ul>
